.table {
    width: 100%;
    margin: 100px auto;
    border-collapse: collapse;
    z-index: 10;
}

.table td {
    padding: 20px 0;
    border-bottom: 1px solid grey;
}

.table tr > td:last-child {
    width: 30%;
    text-align: right;
}

.table thead {
    font-weight: bold;
}
