.left {
    background-color: #3c3c3c;
    width: 100%;
    height: 100%;
}

.right {
    width: 100%;
    height: 100%;
}

.flex_wrapper {
    width: 100%;
    height: 100%;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 20vh;
}

.text {
    padding: 0 40px;
    text-align: center;
}

.text > h1 {
    font-size: 56px;
}

.text > p {
    font-size: 24px;
    line-height: 1.2em;
}
